<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <% @deals.each do |deal| %>
        <div class="col-xs-12 col-sm-6">
          <%= link_to deal_path(deal) do %>
            <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path deal.photo, height: 350, width: 550, crop: :fill %>')">
              <div class="card-category"><h3><%= deal.city %></h3></div>
              <div class="card-description">
                <h3><%= deal.name %></h3>
                <p><%= deal.city %>, <%= deal.country%> | <%= deal.price%> €</p>
              </div>
              <% if deal.profile.photo.present? %>
                <%= cl_image_tag deal.profile.photo, class: "deal-card-user" %>
              <% else %>
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
