<div class="row">
  <% @deals.each do |deal| %>
    <%= link_to deal_path(deal) do %>
      <div class="col-xs-12 col-md-6 col-lg-6 ">
        <div class="deal-card">
          <div class="deal-card-photo text-center">
            <%= cl_image_tag deal.photo, height: 250, width: 300, crop: :fill %>
          </div>
          <div class="deal-card-description">
            <h2><%= deal.name %></h2>
            <p><%= deal.city %>, <%= deal.country%> </p>
          </div>
            <img class="deal-card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>
      </div>
    <% end %>
  <% end %>
</div>

