<div class="instagram text-center">
  <div class="instagram-title">
    <h4>Retrouvez-nous sur Instagram</h4>
    <%= link_to 'https://www.instagram.com/alohatravel.co/', target: "_blank" do %>
      <i class="fa fa-instagram fa-2x"></i>
    <% end %>
  </div>

  <div class="row text-center">

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bf6UzdLlDoX/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/1.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bf0CxxTljDP/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/2.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfxnSIUFubE/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/3.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bfq2PUfFOYR/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/4.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
           <%= link_to 'https://www.instagram.com/p/BfiFISvltja/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/5.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfaspZnl7_R/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/6.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfatnaAlIyq/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/7.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfdH1ZrlRQv/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/8.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bfd2Z0llYMH/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/9.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bffk1poF7zF/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/10.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bfgb5UhFxrq/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/11.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfAy3D_FEvA/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/13.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>




    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfAy3D_FEvA/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/13.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bfgb5UhFxrq/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/11.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bffk1poF7zF/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/10.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bfd2Z0llYMH/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/9.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

        <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfatnaAlIyq/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/7.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfdH1ZrlRQv/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/8.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

        <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
           <%= link_to 'https://www.instagram.com/p/BfiFISvltja/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/5.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfaspZnl7_R/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/6.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

        <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bf6UzdLlDoX/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/1.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bf0CxxTljDP/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/2.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/BfxnSIUFubE/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/3.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="instagram-card">
      <div class="col-xs-3 col-sm-2 col-md-1 ">
        <div class="instagram-icon">
          <%= link_to 'https://www.instagram.com/p/Bfq2PUfFOYR/?taken-by=alohatravel.co', target:"_blank" do %>
            <%=image_tag 'insta/4.jpg', width:100, height:100  %>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>
