<div class="experience text-center">
  <h1>COMMENT CA MARCHE?</h1>

<div class= "container" style="min-height: 80vh;">
  <div id="hero-wrapper">
   <div class="carousel-wrapper">
     <div id="hero-carousel" class="carousel slide carousel-fade">

      <!-- Indicators -->
       <ol class="carousel-indicators">
         <li data-target="#hero-carousel" data-slide-to="0"></li>
         <li data-target="#hero-carousel" data-slide-to="1"></li>
         <li data-target="#hero-carousel" data-slide-to="2"></li>
         <li data-target="#hero-carousel" data-slide-to="3"></li>
         <li data-target="#hero-carousel" data-slide-to="4"></li>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner">
         <div class="item active image1">
           <div class="carousel-caption d-none d-md-block">
             <h4>1. Je cherche</h4>
             <p>Mon PeetaGuide en moins de 1 minute</p>
           </div>
           <%= image_tag 'experience/1.Profilebis.png', class: "d-block w-100", alt: "First slide" %>
         </div>

         <div class="item image2">
           <%= image_tag 'experience/1.Profilebis.png', class: "d-block w-100", alt: "First slide" %>
           <div class="carousel-caption d-none d-md-block">
             <h4>2. Je match</h4>
             <p>Avec le top 5 des tours proposés par les PeetaGuide et qui me correspondent</p>
           </div>
         </div>

         <div class="item image3">
           <%= image_tag 'experience/1.Profilebis.png', class: "d-block w-100", alt: "First slide" %>
           <div class="carousel-caption d-none d-md-block">
             <h4>3. Je choisis</h4>
             <p>Le PeeGuide de mon choix</p>
           </div>
         </div>

         <div class="item image4">
           <%= image_tag 'experience/1.Profilebis.png', class: "d-block w-100", alt: "First slide" %>
           <div class="carousel-caption d-none d-md-block">
             <h4>4. Je règle</h4>
             <p>Le paiement directement via le site</p>
           </div>
         </div>

         <div class="item image5">
           <%= image_tag 'experience/1.Profilebis.png', class: "d-block w-100", alt: "First slide" %>
           <div class="carousel-caption d-none d-md-block">
             <h4>5. Je note</h4>
             <p>L'expérience avec mon PeetaGuide</p>
           </div>
         </div>
       </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#hero-carousel" data-slide="prev">
        <i class="fa fa-chevron-left left"></i>
      </a>
      <a class="right carousel-control" href="#hero-carousel" data-slide="next">
        <i class="fa fa-chevron-right right"></i>
      </a>
     </div>
   </div>
  </div>
</div>
</div>

<script type="text/javascript">
$('.carousel').carousel({
interval: 3000,
pause: false
})
</script>
