<div class="container">
  <div class="row">
    <% @deals.each do |deal| %>
    <%= link_to deal_path(deal) do %>
    <div class="col-xs-12 col-md-6 col-lg-6 ">
      <div class="deal-cardB">
        <div class="deal-cardB-photo text-center">
          <%= cl_image_tag deal.photo, height: 350, width: 400, crop: :fill %>
        </div>
        <div class="deal-cardB-description">
          <h2><%= deal.name %></h2>
          <p><%= deal.city %>, <%= deal.country%> </p>
        </div>
        <% if deal.profile.photo.present? %>
          <%= cl_image_tag deal.profile.photo, class: "deal-card-user" %>
        <% else %>
          <img class="deal-cardB-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <% end %>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
</div>
