<!-- COMMENT CA MARCHE -->
<div class="wd-section">
  <div class="container text-center">

    <h1>How it works?</h1>
    <br>
    <br>
    <div class="row text-center">

      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="wd-icon">
          <%=image_tag 'profile.png', width:100, height:100 %>
        </div>
        <br>
        <h4>Create your profile</h4>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-icon">
          <%=image_tag 'geolocalization.png', width:100, height:100  %>
        </div>
        <br>
        <h4>Geolocate your activity</h4>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-icon">
          <%=image_tag 'communication.png', width:100, height:100  %>
        </div>
        <br>
        <h4>Match with the best buddies</h4>
      </div>

    </div>
  </div>
</div>

<!-- AVANTAGES -->
<div class="wd-section">
  <div class="container text-center">

    <h1>Advantages</h1>
    <br>
    <br>
    <div class="row text-center">

      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="wd-icon">
          <%=image_tag 'night-camping.png', width:100, height:100  %>
        </div>
        <br>
        <br>
        <h4>Live an authentic experience</h4>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-icon">
          <%=image_tag 'worldwide.png', width:100, height:100  %>
        </div>
        <br>
        <br>
        <h4>Belong to a community</h4>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="wd-icon">
          <%=image_tag 'wallet.png', width:100, height:100  %>
        </div>
        <br>
        <br>
        <h4>Save to better enjoy</h4>
      </div>

    </div>
  </div>
</div>
