<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="footer-title">
          <h4>peetaya</h4>
        </div>
        <p>Euratechnologies</p>
        <p>165 Avenue de Bretagne</p>
        <p>59000 Lille</p>
        <p>+33 659 728 878</p>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="footer-title">
          <h4>A propos</h4>
        </div>
          <p><%= link_to "Mentions Légales", legal_path, class: "footer-link" %></p>
          <p><%= link_to "CGV", legal_path, class: "footer-link" %></p>
          <p><%= link_to "Qui sommes-nous?", legal_path, class: "footer-link" %></p>
          <p><%= link_to "Nous contacter", legal_path, class: "footer-link" %></p>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="footer-title">
          <h4>Nos partenaires</h4>
        </div>
        <%=image_tag 'logo_euratech.png', class: "footer-link", width:130 %>
      </div>

    </div>
  </div>
</div>

