<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="title">
          <h4>Peetaya</h4>
        </div>
        <p>Euratechnologies</p>
        <p>165 Avenue de Bretagne</p>
        <p>59000 Lille</p>
        <p>+33 659 728 878</p>
        <p>peetayacontact@gmail.com</p>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="title">
          <h4>A propos</h4>
        </div>
        <ul>
          <li><%= link_to "Mentions Légales", legal_path %></li>
          <li><%= link_to "CGV", legal_path %></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="title">
          <h4>About us</h4>
        </div>
        <ul>
          <li><%= link_to "Qui sommes-nous?", legal_path, class: "footer-link" %></li>
          <li><%= link_to "Nous contacter", legal_path, class: "footer-link" %></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-3">
        <div class="title">
          <h4>Nos partenaires</h4>
        </div>
          <%=image_tag 'logo_euratech.png', width:150  %>
      </div>

    </div>
  </div>
</div>

