<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <div class="containerb gal-containern">
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/peetayatravel/', target:"_blank" do %>
          <%= cl_image_tag("Peetaya/4.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/peetayatravel/', target:"_blank" do %>
          <%= cl_image_tag("Peetaya/10.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/peetayatravel/', target:"_blank" do %>
          <%= cl_image_tag("Peetaya/11.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/peetayatravel/', target:"_blank" do %>
          <%= cl_image_tag("Peetaya/2.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/peetayatravel/', target:"_blank" do %>
          <%= cl_image_tag("Peetaya/1.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/peetayatravel/', target:"_blank" do %>
          <%= cl_image_tag("Peetaya/6.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/peetayatravel/', target:"_blank" do %>
          <%= cl_image_tag("Peetaya/7.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/peetayatravel/', target:"_blank" do %>
          <%= cl_image_tag("Peetaya/3.jpg") %>
        <% end %>
      </div>
    </div>


  </div>


