<div class="instagram text-center">
    <h1>RETROUVEZ-NOUS SUR INSTAGRAM</h1>
    <div class="instagram-icon text-center">
      <a href="https://www.instagram.com/alohatravel.co/" target="_blank"><i class="fa fa-instagram fa-4x"></i></a>
    </div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <div class="container gal-container">
    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/p/BfiFISvltja/?taken-by=alohatravel.co', target:"_blank" do %>
          <%=image_tag 'insta/3.jpg' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/p/BfaspZnl7_R/?taken-by=alohatravel.co', target:"_blank" do %>
          <%=image_tag 'insta/4.jpg' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/p/Bf6UzdLlDoX/?taken-by=alohatravel.co', target:"_blank" do %>
          <%=image_tag 'insta/2.jpg' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/p/BfAy3D_FEvA/?taken-by=alohatravel.co', target:"_blank" do %>
          <%=image_tag 'insta/1.jpg' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/p/BfatnaAlIyq/?taken-by=alohatravel.co', target:"_blank" do %>
          <%=image_tag 'insta/5.jpg' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/p/BfdH1ZrlRQv/?taken-by=alohatravel.co', target:"_blank" do %>
          <%=image_tag 'insta/6.jpg' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/p/BfAy3D_FEvA/?taken-by=alohatravel.co', target:"_blank" do %>
          <%=image_tag 'insta/7.jpg' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
      <div class="box">
        <%= link_to 'https://www.instagram.com/p/Bffk1poF7zF/?taken-by=alohatravel.co', target:"_blank" do %>
          <%=image_tag 'insta/9.jpg' %>
        <% end %>
      </div>
    </div>

  </div>
</div>

