<%= render 'shared/navbar_home' %>

<!-- Banner bloc -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%=image_path "banner.jpg" %>');">
  <div class="banner-content">
    <h1>Getting bored less. Live More</h1>
    <p>Partagez une expérience authentique et unique</p>

    <%= render "shared/searchbar" %>
    <!-- Bouton
    <a class="btn btn-medium btn-lg">Lancement du site J - 26</a>-->

  </div>
</div>


<!-- Story bloc -->
<div class="story text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 ">
      <div class="story-card text-center">
        <h1>PEETAYA, QUESACO?</h1>
        <h3>Tous nos PeetaGuides sont des locaux, des expatriés, des conjoint(e)s d'expatriés les plus experts de leur ville. Nous rassemblons les meilleurs talents du monde entier, offrant un point de vue personnel, révélant l'inconnu et la beauté du monde. Peetaya est là pour ceux qui cherchent à vivre une expérience authentique & unique.</h3>
      </div>
    </div>
  </div>
</div>

<!-- Product value bloc -->
<div class="value text-center">
  <div class="row">
    <div class="value-card">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="value-desc">
          <h4>Arrondissez vos fins de mois</h4>
          <p>Gagnez un revenu complémentaire grâce aux réservations des Peetayers</p>
        </div>
          <%=image_tag 'home/money2.jpg', class: "value-photo" %>
      </div>
    </div>

    <div class="value-card">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="value-desc">
          <h4>Partagez vos meilleurs plans</h4>
          <p>Devenez votre propre agence de voyage en faisant vivre une expérience unique aux Peetayers</p>
        </div>
          <%=image_tag 'home/live.jpg', class: "value-photo" %>
      </div>
    </div>

    <div class="value-card">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="value-desc">
          <h4>Aidez nos Peetayers</h4>
          <p>Profitez de cette grande communauté de PeetaHost et partagez des moments uniques</p>
        </div>
          <%=image_tag 'home/comunity.jpg', class: "value-photo" %>
      </div>
    </div>
  </div>
</div>

<!-- Expérience bloc -->
<div class="experience text-center">
  <h1>COMMENT CA MARCHE?</h1>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner text-center" role="listbox">

      <div class="item active">
        <%=image_tag 'carousel/search1.jpg', class: "value-pics text-center" %>
        <div class="carousel-caption">
          <h1>1. Je Renseigne</h1>
          <h3>Mon profil et les tours que je propose</h3>
        </div>
      </div>

      <div class="item">
        <%=image_tag 'carousel/search3.jpg', class: "value-pics text-center" %>
        <div class="carousel-caption">
          <h1>2. J'Accepte</h1>
          <h3>Les demandes des Peetayers selon mes disponibiltés et envie</h3>
        </div>
      </div>

      <div class="item">
        <%=image_tag 'carousel/pay.jpg', class: "value-pics text-center" %>
        <div class="carousel-caption">
          <h1>3. Je gagne</h1>
          <h3>Un revenu complémentaire que je reçois directement dans ma cagnotte</h3>
        </div>
      </div>

      <div class="item">
        <%=image_tag 'carousel/selfi.jpg', class: "value-pics text-center" %>
        <div class="carousel-caption">
          <h1>4. Je note</h1>
          <h3>L'expérience et réalise un selfie avec mon Peetayers</h3>
        </div>
      </div>

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<script type="text/javascript">
$('.carousel').carousel({
interval: 3000,
pause: false
})
</script>


<!-- Instagram bloc -->
<%= render "shared/instagram" %>

<!-- Joinus bloc -->
<%= render "shared/joinus" %>

<!-- Reviews bloc -->
<div class="review text-center">
  <h1>DEJA CONVAINVUS</h1>

  <div class="row text-center">
    <div class="review-card">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
      <%=image_tag 'avatar/aude.jpg', class: "review-avatar-large"%>
      <div class="review-content ">
        <p>"J'ai fait découvrir Siem Reap à un couple en vacances ici. Moment très sympa et rémunéré donc très bon deal."</p>
        <h4>Aude</h4>
      </div>
      </div>
    </div>

    <div class="review-card">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
      <%=image_tag 'avatar/robin.jpg', class: "review-avatar-large"%>
      <div class="review-content ">
        <p>"A tester!! On gère son planning, on partage son expérience avec d'autres...Facile et pratique."</p>
        <h4>Robin</h4>
      </div>
      </div>
    </div>

    <div class="review-card">
      <div class="col-xs-12 col-sm-6 col-md-4 ">
      <%=image_tag 'avatar/tiph.jpg', class: "review-avatar-large"%>
      <div class="review-content ">
        <p>"J'ai beaucoup aimé m'occuper de mes Peetayers qui ont réservé une journée avec moi. On est un peu sa propre agence de voyage, c'est top."</p>
        <h4>Tiphaine</h4>
      </div>
      </div>
    </div>
  </div>
</div>

