<%= render 'shared/navbar_home' %>

<!-- Banner bloc -->
<div class="banner-landing" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%=image_path "banner_expat.jpg" %>');">
  <div class="banner-landing-content text-center">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1>LESS ROUTINE. MORE LIVING.</h1>
      <h3>Peetaya is all about discovering new places through local eyes. Propose a tour, match with travelers, make him live a unique exprience and earn money.</h3>
    </div>
    <div class="row">
        <!-- <form class="form-inline">
          <div class="form-group">
            <label for="email"></label>
            <input type="text" name="" placeholder="joey@friends.com" class="form-control" id="email">
          </div>
          <input type="submit" name="" value="Send" class="btn-cta">
        </form> -->
    <!-- Begin MailChimp Signup Form -->
      <div id="mailchimp">
        <form action="https://github.us17.list-manage.com/subscribe/post?u=adc27fca9aba080530221c91a&amp;id=d5cad2a0b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" size="30" value="ted@mosby.com" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_adc27fca9aba080530221c91a_d5cad2a0b4" tabindex="-1" value="">
          </div>
            <input type="submit" value="Get started" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
<!-- End Banner bloc -->

<!-- Body bloc -->
<div class="wrapper-home">
  <div class="container">

    <!-- Story bloc -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        <div class="story-card text-center">
          <h2>Peetaya, quesaco?</h2>
          <p>Peetaya est une plateforme exclusivement réservée aux filles. Partage, découverte, unique sont les maîtres-mots de ce concept. Nos guides sont des femmes expatriées les plus expertes de leur ville. Nous rassemblons les meilleurs talents, offrant un point de vue personnel, révélant l'inconnu et la beauté du monde. Peetaya est là pour celles qui cherchent à vivre une expérience authentique & unique.</p>
        </div>
      </div>
    </div>

    <!-- Product value bloc -->
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="value-content">
          <h4>Occupez votre temps libre</h4>
          <p>Fini l'ennui et place au partage, aux rencontres, et à une nouvelle vie</p>
        </div>
        <%=image_tag 'home/comunity.jpg', class: "value-photo" %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="value-content">
          <h4>Partagez vos meilleurs plans</h4>
          <p>Devenez votre propre agence de voyage en faisant vivre une expérience unique</p>
        </div>
        <%=image_tag 'home/live.jpg', class: "value-photo" %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="value-content">
          <h4>Arrondissez vos fins de mois</h4>
          <p>Gagnez un revenu complémentaire grâce aux réservations des Peetayers</p>
        </div>
        <%=image_tag 'home/money2.jpg', class: "value-photo" %>
      </div>
    </div>
    <!-- End Product value bloc -->

    <!-- Expérience bloc -->
    <div class="row text-center">
      <h2>Comment ça marche?</h2>
      <div class="carouselbis">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner text-center" role="listbox">

          <div class="item active">
            <%=image_tag 'carousel/search1.jpg', class: "value-pics text-center" %>
            <div class="carousel-caption">
              <h1>1. Je Renseigne</h1>
              <h3>Mon profil et les tours que je propose</h3>
            </div>
          </div>

          <div class="item">
            <%=image_tag 'carousel/search3.jpg', class: "value-pics text-center" %>
            <div class="carousel-caption">
              <h1>2. J'Accepte</h1>
              <h3>Les demandes des Peetayers selon mes disponibiltés et envies</h3>
            </div>
          </div>

          <div class="item">
            <%=image_tag 'carousel/pay.jpg', class: "value-pics text-center" %>
            <div class="carousel-caption">
              <h1>3. Je gagne</h1>
              <h3>Un revenu complémentaire que je reçois directement dans ma cagnotte</h3>
            </div>
          </div>

          <div class="item">
            <%=image_tag 'carousel/selfi.jpg', class: "value-pics text-center" %>
            <div class="carousel-caption">
              <h1>4. Je note</h1>
              <h3>L'expérience et réalise un selfie avec mes Peetayers</h3>
            </div>
          </div>

        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

    <script type="text/javascript">
    $('.carousel').carousel({
    interval: 3000,
    pause: false
    })
    </script>
    <!-- End Expérience bloc -->

    <!-- RS bloc -->
    <div class="row text-center">
      <h2>Rejoignez-nous</h2>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="instagram-icon text-center">
          <a href="https://www.instagram.com/peetayatravel/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
        </div>
        <%= render "shared/instagram" %>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="facebook-icon text-center">
          <a href="https://www.instagram.com/peetayatravel/" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
        </div>
        <div class="fb-page text-center" data-href="https://www.facebook.com/peetayatravel/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/peetayatravel/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/peetayatravel/">Peetaya</a></blockquote>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Joinus bloc -->
<div class="join-banner" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%=image_path "home/joinus2.jpg" %>');">
  <div class="join-banner">
    <div class="join-content text-center">
      <h1>Are you in?</h1>
    </div>
    <div class="row">
        <!-- <form class="form-inline">
          <div class="form-group">
            <label for="email"></label>
            <input type="text" name="" placeholder="joey@friends.com" class="form-control" id="email">
          </div>
          <input type="submit" name="" value="Send" class="btn-cta">
        </form> -->
      <!-- Begin MailChimp Signup Form -->
      <div id="mailchimp">
        <form action="https://github.us17.list-manage.com/subscribe/post?u=adc27fca9aba080530221c91a&amp;id=d5cad2a0b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" size="30" value="ted@mosby.com" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_adc27fca9aba080530221c91a_d5cad2a0b4" tabindex="-1" value="">
          </div>
            <input type="submit" value="Get started" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
<!-- End Joinus bloc -->


<!-- <div class="banner-landing2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%=image_path "banner_expat.jpg" %>');">
  <div class="banner-landing2-content text-center">
    <%= link_to t(".sign_in", default: "GET STARTED"), new_user_registration_path, class: "btn-treehouse2" %>
  </div>
</div> -->

