<%= render 'shared/navbar' %>

<div class="deals-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%=image_path "joinus.jpg" %>');">
  <div class="joinus-content text-center">
  </div>
</div>

<!-- Searchbar bloc -->
<% if user_signed_in? %>
  <div class="row">
    <div class="searchbar2">
      <div class="col-xs-12 text-center">
        <%= form_tag result_path, id: "address_input", method: :get, autocomplete: 'on' do %>
          <%= text_field_tag :location, params[:location], {id: 'address', class: "namanyay-search-box", placeholder: 'Quelle est votre destination?', :required => true} %>
          <%= select_tag(:activity, options_for_select([ ['Culture', "Culture"], ['Nature', "Nature"], ['Nautique', "Nautique"], ['Hivernale', "Hivernale"], ['Aérienne', "Aérienne"]]),
           {class: "namanyay-search-box-type", :prompt => "Activité"})  %>
          <%= submit_tag "Trouver", class: "btn-aloha" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<div class="container" style="width: 100%;">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <% @deals.each do |deal| %>
      <%= link_to deal_path(deal) do %>
      <div class="col-xs-12 col-sm-6">
        <div class="deal-card">
          <div class="deal-card-photo text-center">
            <%= cl_image_tag deal.photo, height: 350, width: 400, crop: :fill %>
          </div>
          <div class="deal-card-description">
            <h2><%= deal.name %></h2>
            <p><%= deal.city %>, <%= deal.country%> </p>
          </div>
          <% if deal.profile.photo.present? %>
          <%= cl_image_tag deal.profile.photo, class: "deal-card-user" %>
          <% else %>
          <img class="deal-card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>


    <div class="col-xs-12 col-sm-5">
      <div
      id="map"
      style="width: 100%;
      height: 1000px;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>
</div>

