<%= render 'shared/navbar' %>

<div class="content">
  <!-- Searchbar -->
  <div class="searchbar-banner">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="searchbar-title">
          <h1>Trouvez des lieux et des expériences à partager avec nos Peetaguides</h1>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
          <% if user_signed_in? %>
            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="searchbar-deal">
                  <%= form_tag result_path, id: "address_input", method: :get, autocomplete: 'on' do %>
                    <%= text_field_tag :location, params[:location], {id: 'address', class: "namanyay-search-box", placeholder: 'Quelle est votre destination?', :required => true} %>
                    <%= submit_tag "GO", class: "namanyay-search-btn" %>
                  <% end %>
                </div>
                <div class="searchbar-caption">
                  <p>(Seul le Cambodge est disponible, un peu de patience chers Peetayers le reste arrive bientôt)</p>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <hr/>

  <!-- deals + maps -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="row">
        <%= render "shared/cards_deal" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
</div>


