<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4">
      <%= simple_form_for @deal do |f| %>
        <div class="form">
          <p><%= f.input :name, class: "form-control" %></p>
          <p><%= f.input :description, class: "form-control" %></p>
          <p><%= f.input :address, class: "form-control", :input_html =>{:id => 'address'} %></p>
          <p><%= f.input :activity_type, as: :radio_buttons, collection: [['Culture', "Culture"], ['Nature', "Nature"], ['Nautique', "Nautique"], ['Hivernale', "Hivernale"], ['Aérienne', "Aérienne"]] %></p>
          <p><%= f.input :time, as: :radio_buttons, collection: [['1 journée', "1 journée"], ['1/2 journée', "1/2 journée"]] %></p>
          <p><%= f.input :price, class: "form-control" %></p>
          <p><%= f.input :tips, class: "form-control" %></p>
          <p><%= f.input :photo %></p>
          <p><%= f.input :photo_cache, as: :hidden %></p>
        </div>
          <%= f.submit "Ajouter", class: "btn-peetaya" %>
      <% end %>
    </div>
  </div>
</div>
