<h1>Les Deals</h1>

<%= link_to "Add a Deal", new_deal_path %>

<% @deals.each do |deal| %>
  <h4><%= deal.name %></h4>
  <p><%= deal.description %></p>
  <p><%= deal.location %></p>
  <p><%= deal.price %></p>
  <%= link_to "More", deal_path(deal) %>
  <%= link_to "Delete", deal_path(deal), method: :delete, data: { confirm: "Ar you sure?" } %>

<% end %>
