<%= render 'shared/navbar' %>
<div class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="row">
        <%= render "shared/cards_deal" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div id="map" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
</div>


<!-- <div class="searchbar-deal">
  <div class="container">
     Searchbar bloc
    <div class="row">
      <% if user_signed_in? %>
        <div class="row">
            <div class="col-xs-12 text-center">
              <%= form_tag result_path, id: "address_input", method: :get, autocomplete: 'on' do %>
                <%= text_field_tag :location, params[:location], {id: 'address', class: "namanyay-search-box", placeholder: 'Quelle est votre destination?', :required => true} %>
                <%= select_tag(:activity, options_for_select([ ['Culture', "Culture"], ['Nature', "Nature"], ['Nautique', "Nautique"], ['Hivernale', "Hivernale"], ['Aérienne', "Aérienne"]]),
                 {class: "namanyay-search-box-type", :prompt => "Activité"})  %>
                <%= submit_tag "Chercher", class: "btn-peetaya" %>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
     End Searchbar bloc
  </div>
</div> -->



