<%= render 'shared/navbar' %>

<div class="showdeal-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('<%=image_path "https://source.unsplash.com/collection/865018/1000x300"%>');">
  <div class="showdeal-back">
    <%= link_to deals_path do %>
      <i class="fa fa-arrow-left"></i> Retour aux expériences
    <% end %>
  </div>
  <div class="showdeal-content text-center">
    <h3>MON DASHBOARD</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8"">
      <div class="tabs">
        <a class="tab btn-peetaya" onclick="myFunction()"><p>Mes Tours</p></a>
        <a class="tab btn-peetaya" onclick="myFunction2()"><p>Mes réservations</p></a>
        <a class="tab btn-peetaya" onclick="myFunction2()"><p>Mes demandes</p></a>
      </div>
    </div>
  </div>

  <div class= "wrapper-grey">
    <div class="row">
      <div id="tours" class="tab" style="background: white;">
        <div class="row">
          <% @deals.each do |deal| %>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <%= link_to deal_path(deal) do %>
                <div class="card" style="background-image: url('<%= cl_image_path deal.photo %>')">
                  <div class="card-category"><h3><%= deal.city %></h3></div>
                  <div class="card-description">
                    <h3><%= deal.name %></h3>
                    <p><%= deal.city %>, <%= deal.country%> | <%= deal.price%> €</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="reservation" class="tab" style="display: none; background: #F4F4F4;">
        <% @bookings.each do |booking| %>
          <div class="col-xs-12">
            <div class="message">
              <% if booking.deal.profile.photo.present? %>
                <%= cl_image_tag booking.deal.profile.photo, class: "avatar-large" %>
              <% else %>
                <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %>
              <% end %>
              <div class="message-name">
                <h3><%= booking.deal.profile.first_name %> <%= booking.deal.profile.last_name %></h3>
                <p><%= booking.start_date.strftime(" %d/%m/%y") %></p>
              </div>
              <div class="message-body">
                <p><strong><%= booking.deal.name %></strong></p>
                <p>
                  <%= booking.message %>
                </p>
              </div>
              <div class="message-status">
                <p class="status pending"><%= booking.status %></p>
                <p class="price"><%= booking.price_cents %> €</p>
                <% if booking.status == "En attente de paiement" %>
                  <%= form_tag orders_path do %>
                    <%= hidden_field_tag 'booking_id', booking.id %>
                    <%= submit_tag 'Payer', class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div id="message" class="tab" style="display: none; background: #F4F4F4;">
        <% @bookings.each do |booking| %>
          <div class="col-xs-12">
            <div class="message">
              <% if booking.deal.profile.photo.present? %>
                <%= cl_image_tag booking.deal.profile.photo, class: "avatar-large" %>
              <% else %>
                <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %>
              <% end %>
              <div class="message-name">
                <h3><%= booking.deal.profile.first_name %> <%= booking.deal.profile.last_name %></h3>
                <p><%= booking.start_date.strftime(" %d/%m/%y") %></p>
              </div>
              <div class="message-body">
                <p><strong><%= booking.deal.name %></strong></p>
                <p>
                  <%= booking.message %>
                </p>
              </div>
              <div class="message-status">
                <p class="status pending"><%= booking.status %></p>
                <p class="price"><%= booking.price_cents %> €</p>
                <% if booking.status == "En attente de paiement" %>
                  <%= form_tag orders_path do %>
                    <%= hidden_field_tag 'booking_id', booking.id %>
                    <%= submit_tag 'Payer', class: 'btn btn-primary' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <script>
  function myFunction() {
    var x = document.getElementById('tours');
    var y = document.getElementById('reservation');
    if (x.style.display === 'none') {
      x.style.display = 'block';
      y.style.display = 'none';
    }
  }
  </script>

  <script>
  function myFunction2() {
    var x = document.getElementById('reservation');
    var y = document.getElementById('tours');
    if (x.style.display === 'none') {
      x.style.display = 'block';
      y.style.display = 'none';
    }
  }
  </script>

