<div class="newdeal-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path "banner.jpg" %>');">
  <div class="newdeal-content text-center">
    <h3>Vos Aloha Tours</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @deals.each do |d| %>
        <h3><%= d.name %></h3>
        <h4><%= d.city %>, <%= d.country %></h4>
        <h5><%= link_to "Modifier", edit_deal_path(d) %></h5>
        <h3>Demandes de réservation:</h3>
        <% d.bookings.each do |b| %>
        <h3>Le <%= b.start_date.strftime("%A %d %B %Y") %></h3>
        <h3>
        <%= b.status %>
        <% if b.status == "En attente de validation" %>
          <%= link_to "Accepter", accepter_path(b) %> | <%= link_to "Refuser", refuser_path(b) %>
        <% elsif b.status == "En attente de paiement" %>
          <%= link_to "Annuler", refuser_path(b) %>
        <% end %>
        </h3>
        <p><%= b.price_cents %> €</p>
        <h4><%= link_to "Modifier", edit_deal_booking_path(d, b) %></h4>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Vos réservations</h2>
      <% @bookings.each do |booking| %>
        <h3><%= booking.deal.name%></h3>
        <h4>Le <%= booking.start_date.strftime("%A %d %B %Y") %></h4>
        <h5><%= booking.status %></h5>
        <% if booking.status == "En attente de paiement" %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'booking_id', booking.id %>
            <%= submit_tag 'Payer', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
